@page "/index"
@using Blazr.SiteBuilder
@using System.Diagnostics
@implements IContentComponent
@inject ContentRenderer _contentRenderer;

<LayoutView Layout="@typeof(ArticleLayout)" />

<SectionContent SectionName="page-header-data">

    @SiteHtmlProvider.SeoHeaderHtml(_contentRenderer)
    @SiteHtmlProvider.OgHeaderHtml(_contentRenderer)

</SectionContent>

<SectionContent SectionName="side-bar">

    @SiteHtmlProvider.CategoryListHtml(_contentRenderer)

</SectionContent>

<SectionContent SectionName="main-content">

    <div class="container-fluid">

        <!-- Content Row -->
        <div class="row">
            <div class="col-6 col-lg-7 col-xl-7">
                <div class="text-container py-5 pl-5">
                    <h2><span>Hi, I'm Shaun</span><br> aka Cold Elm Coders</h2>
                    <p>I may be an Internet old timer, with all the scars and opinionated views too many years of experience bring, but still learning and hopefull sharing a little of that [good] knowledge!</p>
                    <p>And a traveller to places less travelled.</p>

                    <p><strong><i>Knowledge will help you solve a problem you have yet to experience.</i></strong></p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-6 col-lg-5 col-xl-5">
                <div class="image-container text-center">
                    <img class="img-80" src="/assets/south.jpg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <!-- Content Row -->

        <div class="row">
            <div class="col-12">
                <h3 class="mb-3">My Latest Ramblings and Rants</h3>
                @SiteHtmlProvider.LatestRoutesListHtml(_contentRenderer)
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <!-- Content Row -->

    </div> <!-- end of container -->

</SectionContent>


@code {
    public PageData PageData { get; } = new()
        {
            Title = "Cold Elm Coders",
            Author = "Shaun Curtis",
            Description = "Cold Elm Coders Home Page",
            Category = string.Empty,
            HideInNavigationLists = true,
            DefaultRoute = true
        };
}
