@inherits RazorBase
@namespace Blazr.SiteBuilder

@code {
    public static RenderFragment<RouteProvider> ArticleDatesHtml => (provider) => (__builder) =>
        {
            <div class="article-info p-2">
                <div class="mb-2">Published: @provider.CurrentRoute.PageData.PublishDate.AsGlobalDate()</div>
                <div class="mb-2">Updated: @provider.CurrentRoute.PageData.LastUpdated.AsGlobalDate()</div>
                <div class="mb-2">Author: @provider.CurrentRoute.PageData.Author</div>
            </div>

        };

    public static RenderFragment<RouteProvider> ArticleTitleHtml => (provider) => (__builder) =>
    {
        <div class="pt-2 pb-2 border-bottom mb-4 text-primary">
            <h1>@provider.CurrentRoute.PageData.Title</h1>
            <div><small>@provider.CurrentRoute.PageData.Description</small></div>
        </div>

    };
}
