@inherits RazorBase
@namespace Blazr.SiteBuilder

@code {

    public static RenderFragment<ContentRenderer> OgHeaderHtml => (provider) => (__builder) =>
    {
        <meta property="og:site_name" content="@provider.SiteData.SiteName" />
        <meta property="og:site" content="@provider.SiteData.SiteUrl" />
        <meta property="og:title" content="@provider.CurrentRoute.PageData.Title" />
        <meta property="og:description" content="@provider.CurrentRoute.PageData.Description" />
    };

    public static RenderFragment<ContentRenderer> SeoHeaderHtml => (provider) => (__builder) =>
    {
        <title>@provider.CurrentRoute.PageData.Title</title>
        <meta property="author" content="@provider.CurrentRoute.PageData.Author" />
        <meta property="description" content="@provider.CurrentRoute.PageData.Description" />
    };


    public static RenderFragment<ContentRenderer> CategoryListHtml => (provider) => (__builder) =>
        {
            <ul class="list-group">

                @foreach (var category in provider.RouteProvider.Categories)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <a href="@($"/{category.Key}/")">@(category.Key)</a>
                        <span class="badge bg-primary text-white text-end rounded-pill">@(category.Value)</span>
                    </li>
                }
            </ul>
        };


    public static RenderFragment<ContentRenderer> RouteListHtml => (provider) => (__builder) =>
        {
            var currentCategory = provider.CurrentRoute.PageData.Category;

            <div class="list-group">

                @foreach (var route in provider.RouteProvider.RouteListForCategory(currentCategory))
                {
                    <a href="@($"{route.Route}.html")" class="list-group-item list-group-item-action">@route.PageData.Title</a>
                }

            </div>
        };


    public static RenderFragment<ContentRenderer> RouteListAndDescriptionHtml => (provider) => (__builder) =>
        {
            var currentCategory = provider.CurrentRoute.PageData.Category;

            <div class="list-group">

                @foreach (var route in provider.RouteProvider.RouteListForCategory(currentCategory))
                {
                    <div class="bg-white border border-secondary border-1 p-2 m-1">
                        <a href="@($"{route.Route}.html")">@route.PageData.Title</a>
                        <div><small class=float-left>@route.PageData.Description</small><small class="float-right">@route.PageData.LastUpdated.AsGlobalDate()</small></div>
                    </div>
                }

            </div>
        };

    public static RenderFragment<ContentRenderer> LatestRoutesListHtml => (provider) => (__builder) =>
        {
            var latestRoutes = provider.RouteProvider.RouteList
                .Where(item => !item.PageData.HideInNavigationLists)
                .OrderByDescending(item => item.PageData.LastUpdated)
                .Take(5);

            <div class="list-group">

                @foreach (var route in latestRoutes)
                {
                    <div class="card border-left-info shadow h-100 py-2 px-2 mb-2">
                        <a class="h3" href="@($"{route.Route}.html")">@route.PageData.Title</a>
                        <div><span class=float-left>@route.PageData.Description</span><span class="float-right">@route.PageData.LastUpdated.AsGlobalDate()</span></div>
                    </div>
                }

            </div>
        };

}

