@inherits RazorBase
@namespace Blazr.SiteBuilder

@code {

    public static RenderFragment<ContentRenderer> OgHeaderHtml => (provider) => (__builder) =>
    {
        <meta property="og:site_name" content="@provider.SiteData.SiteName" />
        <meta property="og:site" content="@provider.SiteData.SiteUrl" />
        <meta property="og:title" content="@provider.CurrentRoute.PageData.Title" />
        <meta property="og:description" content="@provider.CurrentRoute.PageData.Description" />
    };

    public static RenderFragment<ContentRenderer> SeoHeaderHtml => (provider) => (__builder) =>
    {
        <title>@provider.CurrentRoute.PageData.Title</title>
        <meta property="author" content="@provider.CurrentRoute.PageData.Author" />
        <meta property="description" content="@provider.CurrentRoute.PageData.Description" />
    };


    public static RenderFragment<ContentRenderer> CategoryListHtml => (provider) => (__builder) =>
        {
            <ul class="list-group">

                @foreach (var category in provider.RouteProvider.Categories)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <a href="@($"/{category.Key}/")">@(category.Key)</a>
                        <span class="badge bg-primary text-white text-end rounded-pill">@(category.Value)</span>
                    </li>
                }
            </ul>
        };


    public static RenderFragment<ContentRenderer> RouteListHtml => (provider) => (__builder) =>
        {
            var currentCategory = provider.CurrentRoute.PageData.Category;

            <div class="list-group">

                @foreach (var route in provider.RouteProvider.RouteListForCategory(currentCategory))
                {
                    <a href="@($"{route.Route}.html")" class="list-group-item list-group-item-action">@route.PageData.Title</a>
                }

            </div>
        };


    public static RenderFragment<ContentRenderer> RouteListAndDescriptionHtml => (provider) => (__builder) =>
        {
            var currentCategory = provider.CurrentRoute.PageData.Category;

            <div class="list-group">

                <div class="list-group-item list-group-item-action">

                    @foreach (var route in provider.RouteProvider.RouteListForCategory(currentCategory))
                    {
                        <a href="@($"{route.Route}.html")">@route.PageData.Title</a>
                        <div><small>@route.PageData.Description</small></div>
                    }

                </div>

            </div>
        };
}
