@using Blazr.SiteBuilder
@using System.Diagnostics

@implements IContentComponent
@inject RouteProvider _routeProvider

<LayoutView Layout="@typeof(ArticleLayout)" />

<SectionContent SectionName="page-header-data">

    @SiteHtmlProvider.SeoHeaderHtml(_routeProvider)
    @SiteHtmlProvider.OgHeaderHtml(_routeProvider)

</SectionContent>

<SectionContent SectionName="side-bar">

    @SiteHtmlProvider.CategoryListHtml(_routeProvider)

</SectionContent>

<SectionContent SectionName="main-content">

    @SiteHtmlProvider.RouteListHtml(_routeProvider)
@*     <div class="list-group">

    @foreach(var route in _routeProvider.RouteListForCategory(this.PageData.Category))
    {
        <a href="@($"{route.Route}.html")" class="list-group-item list-group-item-action">@route.PageData.Title</a>
    }

    </div>
 *@
</SectionContent>

@code {
    public abstract PageData PageData { get; }
}
